<!DOCTYPE HTML>
<html>
<head>
<title>
	Melody
</title>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" type="text/css" href="normalize.css">
<link rel="stylesheet" type="text/css" href="indexstyle.css">
</head>
<body>
	<div class="container">
		<!-- top navbar -->
		<div class="navbar">
			<a href="index.html"><div class="logo"></div></a>
			<a href="#"><div id="power"></div></a>
			<div class="searchbar"><form action="">
    			<input class="search" type="text" placeholder=" Search...">
			</form></div>
			<a><div class="feed"></div></a>
			<a><div class="tree"></div></a>
			<a><div class="inv"></div></a>
		</div>
		<!-- end top navbar-->
		<!--leftsideprofile-->
			<div class="profile">
			<div class="profpic"></div>
			<h2>Guerd Alberts</h2>
			<div class="follower"><h3 class="fnum">65</h3><h4 class="fname">Followers</h4></div>
			<div class="following"><h3 class="fnum">54</h3><h4 class="fname">Following</h4></div>
		</div>
		<!-- end left side profile-->
		<div id="feed" class="feedcenter"></div>
		<!--function bar-->
		<div class="funcbar"></div>
		<!--end function bar-->
		<div></div>
		<div></div>
		<div></div>
	
	</div>
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="indexscript.js"></script>
</body>
</html>