#container{
	overflow: hidden;
	position: fixed;
	background: rgb(41,41,41) ;
	width: 100%;
	height: 100%;
	z-index: -5;
}

#navbar {
	border-radius: 0px 0px 0px 0px;
	background-color: rgb(80,170,50);
	width: 100%;
	height: 50px;
	position: relative;
	box-shadow: 0px 1px 3px rgb(51,51,51);
}

#power{
	border-right: 2px solid rgb(80,160,50);
	border-left: 2px solid  rgb(80,160,50);
	position: absolute;
	width: 5%;
	height: 50px;
	float: left;
	left: 14.7%;
	background-image: url("power.svg");
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
#searchbar{
	position: absolute;
	width: 20%;
	height: 50px;
	left: 59%;
}
#search {
	position: absolute;
	background: #E6E6E6;
	background: rgba(255,255,255);
	border-color: #e6e6e6;
	border-style: solid;
	border-width: 1px;
	line-height: 30px;
	list-style: none;
	top: 15%;
	width: 100%;
}
#feed{
	border-left: 1px solid #b2b2b2;
	position: absolute;
	width: 7%;
	height: 50px;
	float: left;
	left: 80.1%;
	background-color: #cccccc;
	background-image: url('newsfeed.svg');
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: 30% 50%;

}
#tree{
	border-left: 2px solid #e6e6e6;
	position: absolute;
	width: 8%;
	height: 50px;
	float: left;
	left: 86.2%;
	background-color: #cccccc;
	background-image: url('tree.svg');
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: 45% 50%;
}
#inv{
	border-left: 2px solid #e6e6e6;
	position: absolute;
	width: 7%;
	height: 50px;
	float: left;
	left: 93.8%;
	background-color: #cccccc;
	background-image: url('inventory.svg');
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: 45% 50%;
}

#profile {
	padding: 0;
	margin: 0;
	float: left;
	position: relative;
	width: 20%;
	height: 40%;
	background-color: rgb(80,180,50);
	z-index: -1;
	box-shadow: 0px 1px 2px #e6e6e6;

}
#center{
	border-left: .5px solid #b2b2b2;
	border-right: .5px #b2b2b2 solid 1.0;
	padding: 0;
	margin: 0;
	position: relative;
	z-index: -2;
	float: left;
	width: 60%;
	height: 100%;
	background: #CCCCCC ;
	opacity: 0.9;
}
#funcbar{
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	width: 20%;
	height: 100%;
	z-index: -2;
	background-color: rgb(41,41,41);
}
.logo {
	background-image: url("Melody Logo2.jpg");
	background-size: 119px;
	background-repeat: no-repeat;
	background-position: 49% 20%;
	position: absolute;
	left: 2%;
	width: 7.5%;
	height: 50px;
	border-right: 2px solid rgb(80,160,50);
	border-left: 2px solid  rgb(80,160,50);
}
.logo:hover{
	cursor: pointer;
	background-size: 131px;
}
#power:hover{
	cursor: pointer;
	background-color: rgb(100,170,50);
}
#feed:hover{
	cursor: pointer;
		background-color: #ccddcc;
}
#inv:hover{
	cursor: pointer;
		background-color: #ccddcc;
}
#tree:hover{
	cursor: pointer;
		background-color: #ccddcc;
}
.follower:hover{
	cursor: pointer;
	background: rgba(61,61,61,0.6);
}
.following:hover{
	cursor: pointer;
	background: rgba(61,61,61,0.6);
}
#power:active{
	cursor: pointer;
		background-size: 24px;
}
#feed:active{
	cursor: pointer;
		background-color: #ccddcc;
		background-size: 76%;
}
#inv:active{
	cursor: pointer;
		background-color: #ccddcc;
		background-size: 55%;
}
#tree:active{
	cursor: pointer;
		background-color: #ccddcc;
		background-size: 44%;
}
.username {
	display: none;
	width: 175px;
	height: 15px;
	position: absolute;
	left: 1100px;
	top: 5px;
}

.password{
	display: none;
	width: 175px;
	height: 15px;
	position: absolute;
	left: 1100px;
	top: 25px;
	padding: 1px;
}
.submit{
	display: none;
	width: 75px;
	height: 40px;
	position: absolute;
	left: 1287px;
	top: 5px;
}

.profpic{
	background: url('guerd.jpeg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
	position: absolute;
	top: 10%;
	left: 29%;
	width: 40%;
	height: 40%;
	border: 1px solid rgb(192,201,8);
	border-radius: 12px;
}
.follower{
	display: inline-block;
	position: absolute;
	top: 75%;
	left: 5%;
	width: 40%;
	height: 20%;
	background: rgba(61,61,61,0.5);
}
.following{
	display: inline-block;
	top: 75%;
	left: 55%;
	position: absolute;
	width: 40%;
	height: 20%;
	background: rgba(61,61,61,0.5);
}
 h2{
 	text-align: center;
 	width: 100%;
 	height: 27.6%;
 	display: inline-block;
 	font-family: 'Helvetica';
 	color: #e6e6e6;
 	text-shadow: 0px -1px 4px grey;
 	text-shadow: 0px 1px 4px grey;
 	font-size: 30px;
	position: absolute;
	top: 45%;
}
.fnum{
	text-align: center;
	position: relative;
	bottom: 30%;
	color: #e6e6e6;
}
.fname{
	text-align: center;
	position: relative;
	bottom: 55%;
	color: #e6e6e6;
	font-size: 13px;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}