<!DOCTYPE HTML>
<html>
<head>
<title>
	Melody
</title>
<link rel="shortcut icon" type="shortcut icon"href="Melody_Logo2.ico">
<link rel="stylesheet" type="text/css" href="normalize.css">
<link rel="stylesheet" type="text/css" href="indexstyle.css">
</head>
<body>
	<div id="container">
		<!-- top navbar -->
		<div id="navbar">
			<a href="index.html"><div class="logo"></div></a>
			<a href="#"><div id="power"></div></a>
			<div id="searchbar"><form action="">
    			<input id="search" type="text" placeholder=" Search...">
			</form></div>
			<a><div id="feed"></div></a>
			<a><div id="tree"></div></a>
			<a><div id="inv"></div></a>
		</div>
		<!-- end top navbar-->
		<!--leftsideprofile-->
			<div id="profile">
			<div class="profpic"></div>
			<h2>Guerd Alberts</h2>
			<div class="follower"><h3 class="fnum">65</h3><h4 class="fname">Followers</h4></div>
			<div class="following"><h3 class="fnum">54</h3><h4 class="fname">Following</h4></div>
		</div>
		<!-- end left side profile-->
		<div id="center"></div>
		<!--function bar-->
		<div id="funcbar"></div>
		<!--end function bar-->
		<div></div>
		<div></div>
		<div></div>
	
	</div>
</body>
</html>